.bouquet__slider .swiper-slide {
    height: auto;
}

.bouquet-card {
    border: 1px solid #e2e4eb;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bouquet-card__header {
    position: relative;
}

.bouquet-card__header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    background: linear-gradient(180deg, #474651 0%, rgba(71, 70, 81, 0.00) 100%);
    width: 100%;
    height: 80px;
    z-index: 12;
}

.bouquet-card__labels,
.bouquet-card__header-actions {
    position: absolute;
    z-index: 110;
    top: 15px;
    left: 15px;
}

.bouquet-card__header-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: auto;
    right: 15px;
}

.bouquet-card__header-action {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
}

.bouquet-card__header-action._active path {
    fill: #e2195b;
    stroke: #e2195b;
}

.bouquet-card__header-action path {
    transition: .3s;
}

.bouquet-card__header-action:hover path {
    stroke: #e2195b;
}

.bouquet-card__label {
    font-size: 12px;
    font-weight: 500;
    background-color: #fff;
    border-radius: 5px;
}

.card-header-desc {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.44;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.card-header-desc._show {
    opacity: 1;
    visibility: visible;
}

.card-header-desc {
    background-color: rgba(27, 28, 33, .5);
}

.bouquet-card__label_discount {
    background-color: #0093a2;
    color: #fff;
    padding: 5px 10px;
}

.card-header-desc__sizes {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #fff;
    color: #1b1c21;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.card-header-desc__size_width,
.card-header-desc__size_height {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
}

.card-header-desc__size_width::before,
.card-header-desc__size_height::before {
    content: '';
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.card-header-desc__size_width::before {
    background-image: url('/img/width-icon.svg');
}

.card-header-desc__size_height::before {
    background-image: url('/img/height-icon.svg');
}

.card-header-desc__text {
    display: block;
    margin-top: 20px;
}

.bouquet-card__link {
    display: block;
    position: relative;
    z-index: 11;
}

.bouquet-card__images {
    height: 250px;
}

.bouquet-card__images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bouquet-card__body {
    padding: 20px 20px 0 20px;
    margin-bottom: 45px;
    flex-grow: 1;
}

.bouquet-card__title {
    font-weight: 700;
    line-height: 1.375;
    color: #222a46;
    margin-bottom: 10px;
}

.bouquet-card__desc {
    font-size: 14px;
    line-height: 1.42;
    color: #505567;
}

.bouquet-card__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.bouquet-card__rating,
.bouquet-card__delivery {
    font-size: 14px;
    line-height: 1.42;
    font-weight: 500;
}

.bouquet-card__rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.bouquet-card__rating::before {
    content: '';
    background: url('/img/rating-card.svg') no-repeat center;
    width: 20px;
    height: 20px;
    display: block;
}

.bouquet-card__delivery {
    display: flex;
    align-items: center;
    gap: 5px;
}

.bouquet-card__delivery::before {
    content: '';
    background: url('/img/delivery-card.svg') no-repeat center;
    width: 20px;
    height: 20px;
    display: block;
}

.bouquet-card__sizes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.bouquet-card__sizes-label {
    font-size: 12px;
    line-height: 1.33;
    color: #353949;
}

.radio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.radio__item [type='radio'] {
    display: none;
}

.radio__item {
    list-style: none;
    color: #000;
}

.radio__item label {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    display: inline-block;
    border: 3px solid #fff;
    border: 1px solid #d0d2d7;
    border-radius: 4px;
    background-color: #fff;
    color: #505567;
    padding: 4px 10px;
}

.radio__item [type='radio']:checked~label {
    border-color: #0093a2;
    background-color: #0093a2;
    color: #fff;
}

.bouquet-card__bottom {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
}

.bouquet-card__price {
    font-weight: 700;
    line-height: 1.375;
    color: #222a46;
}

.bouquet-card__price_old {
    font-size: 14px;
    line-height: 1.42;
    color: #b0b2b9;
    text-decoration: line-through;
}

.bouquet-card__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #e2195b;
    color: #fff;
    font-weight: 500;
    border: 1px solid #e2195b;
    border-radius: 5px;
    padding: 10px 15px;
    transition: .3s;
}

.bouquet-card__btn:hover {
    background-color: #fff;
    color: #e2195b;
}

.bouquet-card__btn:hover path {
    stroke: #e2195b;
}

.bouquet-card__btn-icon {
    background: url('/img/card-busket.svg') no-repeat center;
    width: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    .bouquet-delivery__slider {
        margin-right: -15px;
        padding-right: 15px;
    }
}